body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #F5F5F5; 
    height: 100%; 
}

.logo {
    width: 100px;
    height: 100px;
}

.navbar {
    background: linear-gradient(to right, #36D1DC, #5B86E5);
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: box-shadow 0.3s ease; 
}

.navbar ul li a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.contenido {
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.quienes-somos,
.que-ofrecemos {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.quienes-somos .imagen,
.que-ofrecemos .imagen {
    width: 50%;
}

.quienes-somos .imagen img,
.que-ofrecemos .imagen img {
    width: 400px;
    height: 300px;
}

.quienes-somos .texto,
.que-ofrecemos .texto {
    width: 50%;
    padding-left: 20px;
}

.quienes-somos {
    float: left;
}

.que-ofrecemos {
    float: right;
}


.card {
    min-height: 640px;
}

#footer {
    font-size: 14px;
    background: #333;
  }
  
  
  #footer .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
  }
  
  #footer .copyright {
    float: left;
  }
  
  #footer .credits {
    float: right;
    font-size: 13px;
  }
  
  #footer .credits a {
    transition: 0.3s;
  }
  